.container {
  margin-top: 1.3rem;
}
.container__card {
  height: auto;
}

@media (min-width: 42rem) {
  .container__hero {
    margin-right: 1.5rem;
  }
}

@media (min-width: 62rem) {
  #container {
    display: grid;
    width: 100%;
    grid-template-areas:
      "hero hero sideBar"
      "hero hero sideBar"
      "card card card"
      "card card card";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr 320px;
  }

  #container > .container__hero {
    grid-area: hero;
  }

  #container > .sideBar {
    grid-area: sideBar;
  }

  #container > .container__card {
    grid-area: card;
  }

  .container__card {
    display: flex;
    align-items: center;
  }
}
