.hero {
  width: 100%;
  margin-right: 2rem;
}

.hero__img-container {
  background-image: url("../../assets/images/image-web-3-mobile.jpg");
  width: 100%;
  min-height: 300px;
  background-size: cover;
}

.hero__title {
  font-family: "inter-extraBold";
  max-width: 390px;
}

.hero__p {
  font-family: "inter-regular";
  font-size: 0.9375rem;
  color: var(--Dark-gray);
  line-height: 1.7rem;
  max-width: 500px;
}

.hero__btn {
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-family: "inter-regular";
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.3125rem;
  padding: 0.8rem 2rem;
  margin-top: 0.4375rem;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--dark-blue);
}

/* MEDIAQUERY */
@media (min-width: 768px) {
  #hero {
    display: grid;
    width: 100%;
    grid-template-areas:
      "img img"
      "h1 p";
  }

  #hero > .hero__img-container {
    grid-area: img;
  }

  #hero > .hero__title {
    grid-area: h1;
  }

  #hero > .hero__p {
    grid-area: p;
  }

  .hero__img-container {
    background-image: url("../../assets/images/image-web-3-desktop.jpg");
    width: 100%;
    background-size: cover;
  }

  .hero__p {
    margin-right: 1rem;
  }
}

@media (min-width: 62rem) {
  .hero__title {
    font-size: 3rem;
  }
  .hero__p {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
}
