.sideBar__container {
  background: var(--dark-blue);
  padding: 1rem;
  margin-top: 3rem;
}

.sideBar__title {
  margin-top: 0;
  font-family: "inter-extraBold";
  color: var(--Soft-orange);
}

.sideBar__text-container:nth-of-type(2),
.sideBar__text-container:nth-of-type(3) {
  margin-bottom: 2rem;
}

.sideBar__subTitle {
  font-family: "inter-bold";
  color: var(--white);
  margin-bottom: 1px;
}

.sideBar__subTitle:nth-last-of-type(2),
.sideBar__subTitle:nth-last-of-type(3) {
  margin-top: 3rem;
}
.sideBar__subTitle:hover {
  color: var(--Soft-orange);
}

.sideBar__p {
  font-family: "inter-regular";
  font-size: 15px;
  color: var(--Gray);
  margin-top: 0.6rem;
  line-height: 1.75rem;
}

.sideBar__line {
  border: 0;
  border-top: 1px solid var(--Gray);
  height: 0px;
  background-color: var(--Gray);
  color: var(--Gray);
}

@media (min-width: 62rem) {
  .sideBar__container {
    margin-top: 0;
  }

  .sideBar {
    min-height: 30rem;
  }
}
