/* Vars */
:root {
  --white: #fffdfa;
  --Soft-orange: #e9ab53;
  --red: #f15e50;
  --Gray: #c5c6ce;
  --Dark-gray: #5d5f79;
  --dark-blue: #00001a;
}

/* FONTS */
@font-face {
  font-family: "inter-variable";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "inter-extraBold";
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "inter-regular";
  src: url("./assets/fonts/static/Inter-Regular.ttf");
}
